
h2{
   margin-top: 0;
   font-size: 1.25em;
   font-weight: bold;
}

h3{
   margin-top: 0;
}

.helper{
   color: #808080;
}

label{
   color: #606060;
}

select.form-control, select.shiny-bound-input{
    background: #fff !important;
}

div.col-sm-10 p{
  line-height: 1.5em;
  margin-bottom: 1em;
}